* {
    margin: 0;
    padding: 0;
}

html,
body {
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
}

nav {
    background-color: white;
}

#nav-logo {
    width: 9vw;
    margin: 2.5vw 3vw;
}

.menu-btn,
.menu-btn:active,
.menu-btn:visited {
    outline: none !important;
    border: none !important;
    color: black !important;
    background-color: transparent !important;
}

.nav-item {
    margin: 10px;
    font-weight: 600;
}

#home-link a {
    border-bottom: 3px solid #02a6d6;
}

.nav-item a {
    width: max-content;
    transition: all ease-in 0.2s;
}

.nav-item a:hover {
    border-bottom: 3px solid #02a6d6;
    backface-visibility: none;
}

.first-cont {
    color: white;
    padding: 20px 4vw;
}

#featured-txt {
    font-size: 30px;
    font-weight: 500;
    margin: 0;
    margin-left: 5px;
    letter-spacing: 1px;
}

.row1,
.row2,
.row3 {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.row1 img {
    position: relative;
    width: 100%;
    transition: all ease-out 0.4s;
}

.row2 img {
    width: 100%;
    transition: all ease-out 0.4s;
}

.row3 img {
    width: 100%;
    transition: all ease-out 0.4s;
}

.row1 img:hover,
.row2 img:hover,
.row3 img:hover {
    transform: scale(1.04);
}

.img-box {
    width: 33.3%;
    margin: 5px;
    overflow: hidden;
    position: relative;
    opacity: 0.95;
    display: flex;
    align-items: flex-end;
    transition: all ease 0.2s;
}

.img-box img:hover {
    opacity: 0.5;
}

.inner-divs {
    background: linear-gradient( 180deg, transparent, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, .5), rgba(0, 0, 0, 0.65), rgba(0, 0, 0, .85));
    bottom: 0;
    color: #fff;
    height: 120px;
    width: 100%;
    position: absolute;
    padding: 5px 5px;
    margin-bottom: 0px;
    z-index: 3;
    height: max-content;
}

.cartoon-title {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    line-height: 20px;
}

.timings {
    font-size: 12px;
    margin-bottom: 0px;
}

.timings i {
    font-size: 9px;
    margin: 0px 1px;
}

.img-box:hover .inner-divs .timings i {
    color: #02a6d6;
}


/*==========================FOOTER====================*/

.content {
    padding: 30px 4.5vw;
}

#about,
#contact {
    font-size: 30px;
    font-weight: 600;
    margin: 3px 0px;
}

.quick-links {
    background-color: #202020;
    text-align: center;
    padding: 50px 10px;
}

.quick-links ul {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}

.quick-links ul li {
    display: inline-block;
    margin-right: 3vw;
    line-height: 30px;
}

#copyright-txt {
    font-size: 12px;
    opacity: 0.5;
}

.logo-footer {
    text-align: center;
    padding: 40px;
}

#other-website-txt {
    opacity: 0.7;
}

.corus-div {
    margin: auto;
    margin-bottom: 10px;
}

.corus-div img {
    height: 25px;
}

.logos {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.logo-img img {
    width: 70px;
    opacity: 0.7;
    margin: 10px 4vw;
}

.logo-img img:hover {
    opacity: 1;
}


/*=================MEDIA QUERIES============================*/

@media screen and (max-width:580px) {
    #nav-logo {
        width: 18vw;
        margin: 3vw;
    }
    .first-cont {
        padding: 20px 7vw;
    }
    .row1,
    .row2,
    .row3 {
        display: flex;
        flex-wrap: wrap;
    }
    .img-box {
        width: 100%;
    }
    .content {
        padding: 30px 7.8vw;
    }
    .logos {
        flex-wrap: wrap;
    }
    #about,
    #contact {
        font-size: 25px;
        font-weight: 600;
        margin: 3px 0px;
    }
    #featured-txt {
        font-size: 25px;
    }
}